.user{
    background-color: var(--scheme3);
    color: var(--font5);
}
.user-details{
    border-bottom: var(--border);
    min-height: 100px;
    max-height: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.user-username{
    margin-top: 5px;
    font-family: var(--mono);
    font-size: 13px;
}
.user img{
    height: 40px;
    width: 40px;
    border-radius: 40px;
}
.user-drop{
    position: relative;
    top: -1px;
    
    overflow: hidden;
    height: 0px;
    transition: ease height .3s;
    border-bottom: var(--border);
    color: var(--font5);
 
}
.user-drop-active{
    position: relative;
    top: -1px;
    overflow: hidden;
    height: 60px;
    border-bottom: var(--border);
    transition: ease height .3s;
    color: var(--font5);
    
}
.user-menu-arrow-down{
    user-select: none;
}
.user-menu-arrow-up{
    user-select: none;
}
.user-menu{
    list-style-type: none;
    text-align: left;
    padding: 10px 0;
    margin: 0 40px 0 40px;
    font-family: var(--sans-serif);
    font-weight: 400;
    font-size: 16px;
    user-select: none;
    color: var(--font3);
}
#minus-1{
    position: relative;
    left: 8px;
    right: 0;
}
#minus-2{
    transition: transform ease .3s;
    position: relative;
    left: -8px;
    right: 0;
}
#minus-2-open{
    transition: transform ease .3s;
    position: relative;
    left: -8px;
    right: 0;
    transform: rotate(-90deg);
}