.user{
    background-color: var(--scheme3);
    color: var(--font5);
    min-height: 38px;
    max-height: 38px;
    border-bottom: var(--border);
}
.user-details{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.user-username{
    position: absolute;
    left: 80px;
    margin: 5px 0 0 0;
    font-family: var(--mono);
    font-size: 13px;
    user-select: none;
}
.user img{
    position: absolute;
    left: 42px;
    height: 25px;
    width: 325x;
    border-radius: 25px;
    user-select: none;
}
.user-drop{
    background-color: var(--scheme3);
    overflow: hidden;
    height: 0px;
    transition: ease height .4s;
    color: var(--font5);
}
.user-drop-active{
    background-color: var(--scheme3);
    height: 58px;
    border-bottom: var(--border);
    transition: ease height .4s;
    color: var(--font5);  
    z-index: -2;
}
.user-menu-arrow-down{
    user-select: none;
}
.user-menu-arrow-up{
    user-select: none;
}
.user-menu{
    height: 58px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style-type: none;
    text-align: left;
    padding-left: 3px;
    margin: 0 40px 0 40px;
    font-family: var(--sans-serif);
    font-weight: 400;
    font-size: 14.7px;
    user-select: none;
    color: var(--font3);
    overflow: hidden;
}
#minus-1{
    position: relative;
    left: -45px;
    right: 0;
    top: 3px
}
#minus-2{
    transition: transform ease .3s;
    position: relative;
    left: -61px;
    right: 0;
    top: 3px
}
#minus-2-open{
    transition: transform ease .3s;
    position: relative;
    left: -61px;
    right: 0;
    top: 3px;
    transform: rotate(-90deg);
}
#account-settings{
    color: var(--font6);
    position: relative;
    top: 3px;
    float: left;
    margin-right: 3px;
}
#logout{
    color: var(--font6);
    position: relative;
    top: 1px;
    float: left;
    margin-right: 3px;
}