.channel-dashboard{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.channel-rack{
    background-color: var(--scheme4);
    min-height: 100px;
    max-height: 100px;
    color: var(--font5);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 6px;
    overflow: auto;
    scrollbar-width: 3px;
}
.channel-rack::-webkit-scrollbar {
    -webkit-appearance: none;
}
.channel-rack::-webkit-scrollbar:horizontal {
    height: 11px;
}
.channel-rack::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid var(--scheme4)l; /* should match background, can't be transparent */
    background-color: var(--scheme2);
}
.channel-rack img{
    height: 45px;
    width: 45px;
    border-radius: 60px;
    margin: 0 6px 4px 6px;
}
.channel-rack-channel-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
}
.channel-rack-channel-details div{
    width: 45px;
    text-overflow: ellipsis; 
    overflow: hidden; 
    white-space: nowrap;
}
.current-channel{
    background: var(--scheme4);
    min-height: 100px;
    max-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--font4);
    border-bottom: var(--border);
    color: var(--font5);
    font-family: var(--sans-serif);
    font-weight: 500;
    font-size: 20.8px;

}
.current-channel img{
    height: 70px;
    width: 70px;
    border-radius: 70px;
    margin: 0 10px;
    border: 3px solid var(--blue)
}
.current-channel-details{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    user-select: none;
}
.message-board{
    background: var(--scheme4);
    height: 100%;
    overflow: scroll;
    color: var(--font4);
}
.message-container{
    flex-direction: column-reverse; 
    display: flex; 
    padding: 5px 0 5px 0;
}
.message-container p{
     margin: 0;
}
.message-board-message-user{
    padding: 7px 0 7px 7px;
    user-select: none;
}
.message-board-message-content{
    padding: 5px 0 5px 37px;
    font-family: var(--sans-serif);
    font-size: 16.8px;
    font-weight: 500;
    color: var(--font5);
}
.message-board-message-votes{
    width: min-content;
    background-color: var(--scheme1);
    position: relative;
    left: 37px;
    padding: 2px 6px;
    font-family: var(--sans-serif);
    font-size: 14.8px;
    border-radius: 5px;
    display: flex;
}
#star{
    position: relative;
    margin-right: 6px;
    top: 2px;
    color: yellow;
}
.message-board-message-right{
    text-align: left;   
}
.message-board-message-right .message-board-message{
    margin: 0px 50px;
    padding: 10px;
    border-radius: 16px;
    
}
.message-board-message-left{
    text-align: left;  
    
}
.message-board-message-left .message-board-message{

    margin: 0px 50px;
    padding: 10px;
    border-radius: 16px;
  
}
.message-user-details{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    font-family: var(--mono);
    font-size: 13px;
    color: var(--font5);
}
.message-board-message-img{
    height: 30px;
    width: 30px;
    border-radius: 30px;
}
.message-board-message-time{
    font-size: 11px;
    font-weight: 300;
    color: var(--font1);
    font-style: italic;
    text-align: center;
    padding: 5px 0 0 0;
    display: flex;

}
.message-board-message-time hr{
    display: inline-flex;
    flex-grow: 3;
    height: 1px;
    border: none;
    border-top: solid 1px var(--green);
}
.message-input{
    background-color: var(--scheme4);
    min-height: 100px;
}
.message-form{
    margin: 0 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.message-form div{
    flex-grow: 3;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.message-input-text{
    background-color: var(--scheme1);
    margin-top: 7px;
    width: 100%;
    resize: none;
    height: 80px;
    color: var(--font4);
    font-family: var(--sans-serif);
    font-size: 16.8px;
    background-color: var(--scheme6);
    border-radius: 5px;
    padding: 0px 5px;
    border: none;
}
.message-input textarea:focus, input:focus{
    outline: none;
   
}
.message-form button{
    margin-left: 7px;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    border: none;
    background: none;
    font-size: 30px;
    transform: rotate(-30deg);
    color: var(--blue);
}


