.channel-dashboard{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.channel-rack{
    background-color: var(--scheme4);
    min-height: 100px;
    max-height: 100px;
   
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.channel-rack img{
    height: 60px;
    width: 60px;
    border-radius: 60px;
    margin: 0 10px;
}
.channel-rack-channel-details{
    display: flex;
    flex-direction: column;
    align-items: center;
  
}
.channel-rack-channel-details div{
    width: 80px;
    text-overflow: ellipsis; 
    overflow: hidden; 
    white-space: nowrap;
}
.current-channel{
    background: var(--scheme3);
    min-height: 100px;
    max-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: var(--border);
}
.current-channel img{
    height: 80px;
    width: 80px;
    border-radius: 60px;
    margin: 0 10px;
}
.current-channel-details{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.message-board{
    background: var(--scheme4);
    background: linear-gradient(0deg, var(--scheme4) 60%, var(--scheme1) 130%);
    height: 100%;
    overflow: scroll;
}
.message-container{
    flex-direction: column-reverse; 
    display: flex; 
    padding: 5px 0 5px 0;
}
.message-container p{
     margin: 0;
}
.message-board-message-right{
    text-align: left;    
}
.message-board-message-right div{
    max-width: 70%;
    float: right;
    margin: 5px 50px 5px 70px;
    border: var(--border);
    padding: 10px;
    border-radius: 16px;
}
.message-board-message-left{
    text-align: left;  
}
.message-board-message-left div{
    max-width: 70%;
    float: left;
    margin: 5px 70px 5px 50px;
    border: var(--border);
    padding: 10px;
    border-radius: 16px;
}
.message-input{
    background-color: var(--scheme4);
    max-height: 100px;
    min-height: 100px;

}
.message-form{
    margin: 0 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.message-form div{
    flex-grow: 3;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.message-input-text{
    background-color: var(--scheme2);
    margin-top: 7px;
    width: 100%;
    resize: none;
    height: 80px;
    border: var(--border);
}
.message-form button{
    margin-left: 7px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: var(--border);
    background: none;
}